{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "mocha": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "document": true,
    "window": true,
    "cy": true,
    "Cypress": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "import",
    "prettier"
  ],
  "rules": {
    "global-require": 0,
    "import/extensions": 0,
    "import/no-dynamic-require": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "no-unused-vars": [
      2,
      {
        "args": "none"
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all"
      }
    ],
    "class-methods-use-this": 0,
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
